@charset "UTF-8";

html,
body {
  height: 100%;
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: none !important;
}

/* Изменение цвета полосы прокрутки */

::-webkit-scrollbar {
  width: 10px;
  height: 0;
  border-radius: 20px;
  background: rgba(0, 147, 221, 0.1);
}

/* Изменение цвета полосы прокрутки */

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--Default-Button, #fff500);
}

/* Изменение цвета при наведении на полосу прокрутки */

::-webkit-scrollbar-thumb:hover {
  background: var(--Default-Button, #a6a000);
}

.container-up {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  /* Можете настроить отступ от нижнего края экрана по вашему усмотрению */
  margin-right: 20px;
  /* Можете настроить отступ от правого края экрана по вашему усмотрению */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.quality__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

.quality__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.quality__slick__img-resolution {
  cursor: pointer;
}

.quality__slick__img-resolution:hover {
  content: url("../img/slick/resolution-hover.png");
}

.quality__slick__img-certificate {
  cursor: pointer;
}

.quality__slick__img-certificate:hover {
  content: url("../img/slick/certificate-hover.png");
}

.mixitup-control-active {
  background: #fff500 !important;
  border-radius: 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.mixer__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

.mixer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mixer__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.control {
  font-size: 16px;
  font-weight: 400;
  color: #29166f;
  background-color: white;
  border: none;
  cursor: pointer;
  text-align: start;
  padding: 10px 62px 10px 20px;
}

.control:not(:last-child) {
  margin-bottom: 6px;
}

.control:hover {
  border-radius: 10px;
  background: #fff500;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.images__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 906px;
  max-height: 670px;
  gap: 20px;
}

.image-border {
  border-radius: 20px;
  border: 1px solid rgba(0, 147, 221, 0.3);
  position: relative;
  -webkit-transition: border-color 1s;
  transition: border-color 1s;
  cursor: pointer;
  width: 282px;
  height: 310px;
}

.filtr-item img {
  position: absolute;
  top: 67px;
  right: 39px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 202px;
  height: 202px;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #29166f;
  font-size: 20px;
  font-weight: 400;
  padding: 0 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff500;
  color: black;
  border: none;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  border-radius: 20px;
}

.mix:hover .image-border {
  border-color: #0093dd;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.mix:hover .card-button {
  opacity: 1;
}

.button-animation {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Добавляем стили для активной кнопки страницы */

.button-animation.active {
  background-color: #007bff;
  color: #fff;
}

.fade-in {
  opacity: 0 !important;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

/* Анимация для появления элементов */

.fade-in.show {
  opacity: 1 !important;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 400px;
  border: 1px solid rgba(0, 147, 221, 0.3);
}

.radio-container {
  display: block;
  cursor: pointer;
}

/* Стилизация инпута радиокнопки */

.radio-container input[type=radio] {
  display: none;
}

/* Стилизация картинки и показ выбора */

.radio-container img {
  padding: 10px 35px;
  height: 50px;
  width: 133px;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

/* Показ выбора при выбранной радиокнопке */

.radio-container input[type=radio]:checked + img {
  background-color: #fff500;
}

.choices.is-focused {
  border-radius: 20px;
  border: 1px solid #0093dd;
}

.is-open .choices__inner {
  border-radius: 20px;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border: none;
}

.choices {
  border-radius: 20px;
  border: 1px solid var(--light-Blue, #b3dff5);
  margin-bottom: 15px !important;
  /* Изменение при активном состоянии списка */
}

.choices::after {
  content: url("../img/request/arrow-down.svg") !important;
  border-style: none !important;
  -webkit-transition: 0.3s all !important;
  transition: 0.3s all !important;
  width: auto !important;
  height: auto !important;
  top: 40% !important;
  right: 30px !important;
}

.choices.is-open::after {
  content: url("../img/request/arrow-up.svg") !important;
  border-style: none !important;
  -webkit-transition: 0.3s all !important;
  transition: 0.3s all !important;
  width: auto !important;
  height: auto !important;
  top: 45% !important;
  right: 30px !important;
}

.choices__inner {
  background-color: #fff !important;
  height: 50px;
  padding: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choices__list--single {
  padding-left: 20px !important;
  margin: 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.choices[data-type*=select-one]::after {
  border-style: none;
}

.choices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-right: 6px;
  padding-top: 10px;
}

.choices__list:last-child {
  margin-bottom: 10px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: none;
}

.choices__list--dropdown.choices__item--selectable.is-highlighted,
.choices__list[aria-expanded].choices__item--selectable.is-highlighted {
  background-color: #0fa958;
  color: white;
  border-radius: 10px;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.choices__list--single {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.choices__list[aria-expanded] .choices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  width: 330px;
  font-size: 16px !important;
  padding: 10px 0 10px 20px !important;
}

.choices__item--choice:hover {
  background: #fff500 !important;
  color: black !important;
  border-radius: 20px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-radius: 20px !important;
  border: 1px solid #0093dd !important;
  margin-top: 5px;
}

.is-focuse .choices__inner,
.is-open .choices__inner {
  border-radius: 20px !important;
}

.is-highlighted {
  background-color: inherit !important;
  color: black !important;
}

/* Стили скроллбара */

.choices__list--dropdown .choices__list::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
  background: var(--blue-30, rgba(0, 147, 221, 0.3));
}

/* Стили полосы скроллбара */

.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #0093dd;
}

.choices__list--dropdown .choices__list:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #0093dd;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__buttons {
  display: inline-block;
  height: 40px;
  padding: 0px 20px;
  margin-top: 15px;
}

.pagination-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  border-radius: 20px;
  gap: 20px;
  height: 40px;
  border: 1px solid var(--blue-30, rgba(0, 147, 221, 0.3));
  padding: 0 20px;
}

.pagination-in__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.button-animation {
  border: none;
  background: none;
  cursor: pointer;
  padding: 13px 21px;
  color: var(--black-30, rgba(0, 0, 0, 0.3));
}

.button-animation.active {
  border-radius: 10px;
  background: var(--Yellow, #fff500);
  color: black;
}

.button__prev {
  border: none;
  background: url("../img/mixer/back.svg") no-repeat center;
  width: 17px;
  height: 21px;
  cursor: pointer;
  fill: black;
}

.button__prev:disabled {
  opacity: 0.3;
}

.button__next {
  border: none;
  background: url("../img/mixer/next.svg") no-repeat center;
  width: 17px;
  height: 21px;
  cursor: pointer;
  color: #007bff;
  fill: black;
}

.button__next:disabled {
  opacity: 0.3;
}

.accordion-container {
  pointer-events: all;
}

.ac {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--blue-30, rgba(0, 147, 221, 0.3)) !important;
  background: var(--white-30, rgba(255, 255, 255, 0.3));
  /* Blur */
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.ac-title {
  color: var(--Dark-blue, #29166f) !important;
  font-size: 20px;
  font-weight: 400;
  padding: 30px;
}

.ac-title::after {
  position: absolute !important;
  content: url("../img/request/arrow-down.svg") !important;
  border-style: none !important;
  width: auto !important;
  height: auto !important;
  right: 30px !important;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.ac-title.active::after {
  position: absolute !important;
  border-style: none !important;
  -webkit-transition: 0.3s all !important;
  transition: 0.3s all !important;
  width: auto !important;
  height: auto !important;
  right: 30px !important;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ac-trigger {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 !important;
}

.ac-text {
  padding: 0 30px 30px 30px !important;
  color: var(--Dark-blue, #29166f) !important;
}

.ac.js-enabled.is-active {
  border: 1px solid var(--Blue, #0093dd) !important;
}

.ac .ac-trigger::after {
  content: "" !important;
}

.feedback__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

.swiper-slide {
  padding: 40px;
  border-radius: 20px;
  border: 1px solid var(--blue-30, rgba(0, 147, 221, 0.3));
  max-width: 300px !important;
  max-height: 212px !important;
}

.swiper-slide-title {
  color: #29166f;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.swiper-slide-date {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.swiper-slide-comment {
  font-size: 16px;
  font-weight: 400;
  max-width: 306px;
  height: 133px;
}

.swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  margin-top: 0 !important;
  left: auto !important;
}

.swiper-button-next {
  content: url("../img/comments/arrow.svg");
  width: 20px !important;
  height: 20px !important;
}

.swiper-button-prev {
  content: url("../img/comments/arrow.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 20px !important;
  height: 20px !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  /* Set initial opacity to 0 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  /* Disable pointer events when opacity is 0 */
}

.modal-btn {
  margin-bottom: 0 !important;
}

.modal-send {
  padding: 15px 45px !important;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal-open {
  -webkit-animation: fadeIn 0.3s ease-in-out forwards;
          animation: fadeIn 0.3s ease-in-out forwards;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-closed {
  -webkit-animation: fadeOut 0.3s ease-in-out forwards;
          animation: fadeOut 0.3s ease-in-out forwards;
  /* Use forwards to keep the final state */
  pointer-events: none;
  /* Disable pointer events when opacity is 0 */
}

.burger {
  display: none;
}

.ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 13px 21px;
}

.container-header {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
  padding-bottom: 10px;
  z-index: 15;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.top__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.top__nav-text {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.top__nav-text:hover {
  color: #0093dd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__contacts-list:not(:last-child) {
  margin-right: 55px;
}

.top__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.top__contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.top__contacts-link {
  color: black;
  font-variant-numeric: lining-nums tabular-nums;
}

.top__contacts-link:hover {
  color: #0093dd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  position: relative;
}

.about__left-title {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #29166f;
}

.about__left-subtitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.about__left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
}

.about__left-item:not(:last-child) {
  padding-bottom: 30px;
}

.about__left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #29166F;
  max-width: 490px;
  max-height: 64px;
  background-color: #FFF500;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 165px;
  margin-top: 60px;
}

.about__left-btn:hover {
  background: #FFFF69;
}

.about__left-btn:active {
  background: #E2D800;
}

.about__left-btn:disabled {
  background: rgba(0, 0, 0, 0.1);
}

.about__right-img {
  position: absolute;
  right: 0;
  top: -20px;
}

.astron__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.astron__left-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

.astron__left-text {
  font-size: 20px;
  font-weight: 400;
  max-width: 594px;
  max-height: 408px;
}

.astron .astron__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.astron__left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #29166F;
  max-width: 490px;
  max-height: 64px;
  background-color: #FFF500;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 165px;
}

.astron__left-btn:hover {
  background: #FFFF69;
}

.astron__left-btn:active {
  background: #E2D800;
}

.astron__left-btn:disabled {
  background: rgba(0, 0, 0, 0.1);
}

.request__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  max-height: 800px;
}

.request__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.input__container {
  margin-bottom: 15px;
}

.input__container-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.send__message {
  width: 490px;
  padding: 0 45px;
  border-radius: 20px;
  border: 1px solid var(--light-Blue, #b3dff5);
  background-color: #fff;
  z-index: 2;
}

.send__message-textarea-modal {
  height: 80px !important;
}

.send__message-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px;
}

.send__message-title-modal {
  margin-top: 15px;
}

.send__message-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}

.send__message-input {
  padding: 15px 20px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 147, 221, 0.3);
}

.send__message-input:focus-within {
  border: 1px solid var(--Blue, #0093dd);
  outline: none;
}

.send__message-input:focus-visible {
  border: 1px solid var(--Blue, #0093dd);
  outline: none;
}

.send__message-input:focus {
  border: 1px solid var(--Blue, #0093dd);
  outline: none;
}

.send__message-textarea {
  width: 100%;
  height: 90px;
  padding: 14.5px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 1px solid rgba(0, 147, 221, 0.3);
}

.send__message-textarea:focus-within {
  border: 1px solid var(--Blue, #0093dd);
  outline: none;
}

.send__message-textarea:focus-visible {
  border: 1px solid var(--Blue, #0093dd);
  outline: none;
}

.send__message-textarea:focus {
  border: 1px solid var(--Blue, #0093dd);
  outline: none;
}

.send__message-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #29166F;
  max-width: 490px;
  max-height: 64px;
  background-color: #FFF500;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 120px;
  width: 400px;
  height: 64px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.send__message-btn:hover {
  background: #FFFF69;
}

.send__message-btn:active {
  background: #E2D800;
}

.send__message-btn:disabled {
  background: rgba(0, 0, 0, 0.1);
}

.send__message-btn:disabled {
  border-radius: 20px;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 400;
}

.send__message-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.send__message-text:nth-child(7) {
  margin-bottom: 15px;
}

.send__message-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
}

.send__message-accept-modal {
  margin-bottom: 5px;
}

.send__message-error {
  display: none;
  color: red;
  font-size: 14px;
}

.send__message-input.error {
  border-color: red;
}

.modal-btn {
  margin-bottom: 5px !important;
}

.btn-error {
  background-color: #fff !important;
  border: 1px solid #f00;
  font-size: 19px !important;
  color: red !important;
}

.readystamps__container {
  margin-top: 100px;
}

.readystamps__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}

.readystamps__img {
  margin-left: 100px;
}

.lookmore__container {
  margin-top: 100px;
}

.lookmore__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.lookmore__instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
}

.lookmore__instagram-link {
  color: black;
}

.lookmore__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 906px;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lookmore__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.lookmore__images-img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.lookmore__img-images {
  position: absolute;
  right: -100px;
  top: 70px;
  z-index: -1;
}

.answers__container {
  margin-top: 100px;
}

.answers__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.faq__img {
  max-height: 576px;
}

.contacts__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contacts__left-title {
  font-size: 20px;
  font-weight: 400;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contacts__left {
  margin-right: 30px;
}

.contacts__left-phones {
  margin-bottom: 40px;
}

.contacts__left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin-top: 21px;
}

.contacts__left-text {
  color: #000;
}

.contacts__left-text:hover {
  color: #0093dd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.contacts__left-number {
  font-variant-numeric: lining-nums tabular-nums;
  color: #000;
}

.contacts__left-number:hover {
  color: #0093dd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.contacts__left-mail {
  margin-bottom: 40px;
}

.contacts__left-social {
  margin-bottom: 40px;
}

.contacts__left-schedule {
  border-radius: 20px;
  border: 1px solid rgba(0, 147, 221, 0.3);
  padding: 20px 136px 20px 20px;
}

.contacts__left-scheduletitle {
  color: #29166f;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.contacts__left-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 221px;
  margin-bottom: 15px;
}

.contacts__left-break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 221px;
}

.contacts__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 16px;
}

.contacts__right-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 21px;
}

.contacts__right-text {
  color: #000;
}

.contacts__right-text:hover {
  color: #0093dd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.viber-contacts {
  margin-bottom: 18px;
}

.top__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.footer {
  background: rgba(0, 147, 221, 0.3);
  margin-top: 50px;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.bottom__privacy {
  margin-right: 163px;
}

.bottom__img {
  margin-right: 30px;
}

.bottom__text {
  margin-left: 36px;
  margin-right: 114px;
}

.bottom__dev {
  color: #000;
}

.bottom__dev:hover {
  color: #0093dd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media screen and (max-width: 1420px) {
  .lookmore__img-images {
    display: none;
  }

  .lookmore__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1250px) {
  .top__contacts-item:not(:last-child) {
    margin-bottom: 33px;
  }

  .top__contacts-list:not(:last-child) {
    margin-right: 0;
  }

  .top__contacts {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    top: -1000px;
    gap: 33px;
    -webkit-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    padding: 40px 32px 40px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    border: 1px solid var(--Blue, #0093dd);
    background: #fff;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contacts-active {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    top: 105px;
    gap: 33px;
    -webkit-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
    padding: 40px 32px 40px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    border: 1px solid var(--Blue, #0093dd);
    background: #fff;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

@-webkit-keyframes slideIn {
    from {
      top: -1000px;
    }

    to {
      top: 135px;
    }
}

@keyframes slideIn {
    from {
      top: -1000px;
    }

    to {
      top: 135px;
    }
}

@-webkit-keyframes slideOut {
    from {
      top: 135px;
    }

    to {
      top: -1000px;
    }
}

@keyframes slideOut {
    from {
      top: 135px;
    }

    to {
      top: -1000px;
    }
}

  .top__contacts.slide-in {
    -webkit-animation: slideIn 0.3s ease-in-out forwards;
            animation: slideIn 0.3s ease-in-out forwards;
  }

  .top__contacts.slide-out {
    -webkit-animation: slideOut 0.3s ease-in-out forwards;
            animation: slideOut 0.3s ease-in-out forwards;
  }

  .top__nav-list {
    gap: 80px;
  }

@-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

  /* Определяем анимацию появления */

@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

  .burger {
    display: block;
    z-index: 11;
    -webkit-animation: fadeIn 0.3s ease-in-out forwards;
            animation: fadeIn 0.3s ease-in-out forwards;
  }

  /* Применяем анимацию к классу burger-active */

  .burger-active {
    content: url(../img/header/close.svg);
    -webkit-animation: fadeIn 0.3s ease-in-out forwards;
            animation: fadeIn 0.3s ease-in-out forwards;
  }

  /* Применяем анимацию к классу burger-fade */

  .burger-fade {
    -webkit-animation: fadeOut 0.3s ease-in-out forwards;
            animation: fadeOut 0.3s ease-in-out forwards;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Цвет и прозрачность оверлея */
    display: none;
    z-index: 10;
  }

  /* top-end */

  .about__container {
    margin-top: 60px;
  }

  .about__right-img {
    content: url(../img/about/stamp1250.png);
    top: 55px;
    right: 0;
  }

  .about__left-btn {
    margin-top: 80px;
  }

  /* about-end */

  .quality__container {
    overflow-x: scroll;
  }

  .astron__right-img {
    content: url(../img/astron/stamp1250.png);
  }

  .astron__left {
    gap: 62px !important;
  }

  .mixer__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .images__container {
    max-width: 584px;
  }

  .readystamps__img {
    content: url(../img/readyStamps/stamps1250.png);
    margin-left: 0;
  }

  .faq {
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .faq__img {
    position: absolute;
    left: 0;
    top: 0;
  }

  .accordion-container {
    max-width: 500px;
  }

  .ac {
    opacity: 0.96;
  }

  .contacts__right-map {
    width: 630px;
    height: 411px;
  }

  .contacts__left-schedule {
    padding: 20px 50px 20px 20px;
  }

  .swiper-slide {
    width: 235px !important;
  }

  .request__container {
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .request__left {
    position: absolute;
    left: 0;
    top: 0;
  }

  .send__message {
    opacity: 0.9;
  }

  .top__footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .bottom {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .bottom__privacy {
    margin-right: 0;
  }

  .bottom__text {
    margin: 0;
  }

  .bottom__img {
    margin: 0;
  }
}