html,
body {
  height: 100%;
  font-family: "Exo 2", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: none !important;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.top__nav-text {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.top__nav-text:hover {
  color: #0093DD;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__contacts-list:not(:last-child) {
  margin-right: 55px;
}

.top__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.top__contacts-item:not(:last-child) {
  margin-bottom: 23px;
}

.top__contacts-link {
  color: black;
  font-variant-numeric: lining-nums tabular-nums;
}

.top__contacts-link:hover {
  color: #0093DD;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  position: relative;
}

.about__left-title {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #29166F;
}

.about__left-subtitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 63px;
  text-transform: uppercase;
}

.about__left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.about__left-item:not(:last-child) {
  padding-bottom: 36px;
}

.about__left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #29166F;
  background-color: #FFF500;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 165px;
  margin-top: 73px;
}

.about__right-img {
  position: absolute;
  left: 548px;
}

.quality__container {
  margin-top: 100px;
}

.quality__title {
  margin-bottom: 50px;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.quality__slick__img-resolution {
  cursor: pointer;
}

.quality__slick__img-resolution:hover {
  content: url("..//img/slick/resolution-hover.png");
}

.quality__slick__img-certificate {
  cursor: pointer;
}

.quality__slick__img-certificate:hover {
  content: url("..//img/slick/certificate-hover.png");
}

.astron__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  gap: 30px;
}

.astron__left-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.astron__left-text {
  font-size: 20px;
  font-weight: 400;
  max-width: 594px;
  max-height: 408px;
  margin-bottom: 50px;
}

.astron__left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #29166F;
  background-color: #FFF500;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 165px;
}

.astron__right-img {
  margin-top: 50px;
}

.mixer__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

.mixer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mixer__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.control {
  font-size: 16px;
  font-weight: 400;
  color: #29166F;
  background-color: white;
  border: none;
  cursor: pointer;
  text-align: start;
  padding: 10px 62px 10px 20px;
}

.control:not(:last-child) {
  margin-bottom: 12px;
}

.control:hover {
  border-radius: 10px;
  background: #FFF500;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.images__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 906px;
  gap: 20px;
}

.mix {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.33% - 20px);
          flex: 0 0 calc(33.33% - 20px);
  position: relative;
}

.image-border {
  border-radius: 20px;
  border: 1px solid rgba(0, 147, 221, 0.3);
  overflow: hidden;
  position: relative;
  -webkit-transition: border-color 1s;
  transition: border-color 1s;
  cursor: pointer;
}

.filtr-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 23px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #29166F;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 38px;
  margin-top: 23px;
}

.card-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #FFF500;
  color: black;
  border: none;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  border-radius: 20px;
}

.mix:hover .image-border {
  border-color: #0093DD;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.mix:hover .card-button {
  opacity: 1;
}

.footer {
  background: rgba(0, 147, 221, 0.3);
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom__privacy {
  margin-left: 163px;
  margin-right: 47px;
}

.bottom__img {
  margin-right: 30px;
}

.bottom__text {
  margin-left: 39px;
  margin-right: 114px;
}