.quality {
	&__title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		margin-top: 100px;
		margin-bottom: 50px;
	}

	&__container {
		display: flex;
		gap: 16px;
	}

	&__slick__img-resolution {
		cursor: pointer;

		&:hover {
			content: url('../img/slick/resolution-hover.png');
		}
	}

	&__slick__img-certificate {
		cursor: pointer;

		&:hover {
			content: url('../img/slick/certificate-hover.png');
		}
	}
}

// quality-end

.mixitup-control-active {
	background: #fff500 !important;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}

.mixer__controls-select {
	display: none;
}

.mixer {
	&__title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		margin-top: 100px;
		margin-bottom: 50px;
	}

	&__container {
		display: flex;
		justify-content: space-between;

		gap: 30px;
	}

	&__controls {
		display: flex;
		flex-direction: column;
	}
}

.control {
	font-size: 16px;
	font-weight: 400;
	color: #29166f;

	background-color: white;
	border: none;
	cursor: pointer;
	text-align: start;
	padding: 10px 62px 10px 20px;

	&:not(:last-child) {
		margin-bottom: 6px;
	}

	&:hover {
		border-radius: 10px;
		background: #fff500;
		transition: 0.5s ease-in-out;
	}
}

.images__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 906px;
	max-height: 670px;
	gap: 20px;
}

.image-border {
	border-radius: 20px;
	border: 1px solid rgba(0, 147, 221, 0.3);
	position: relative;
	transition: border-color 1s;
	cursor: pointer;
	width: 282px;
	height: 310px;
}

.filtr-item img {
	position: absolute;
	top: 67px;
	right: 39px;
	transition: opacity 0.3s;
	width: 202px;
	height: 202px;
}

.card__title {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #29166f;
	font-size: 20px;
	font-weight: 400;

	padding: 0 20px;
	margin-bottom: 10px;
	margin-top: 15px;
}

.card-button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: #fff500;
	color: black;
	border: none;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 20px;
}

.mix:hover .image-border {
	border-color: #0093dd;
	transform: scale(1.05);
	transition: transform 0.5s ease-in-out;
}

.mix:hover .card-button {
	opacity: 1;
}

.button-animation {
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Добавляем стили для активной кнопки страницы */
.button-animation.active {
	background-color: #007bff;
	color: #fff;
}

.fade-in {
	opacity: 0 !important;
	transition: opacity 0.2s ease-in-out;
}

/* Анимация для появления элементов */
.fade-in.show {
	opacity: 1 !important;
}

// mixer-end

.radio {
	display: flex;
	border-radius: 50px;
	margin-bottom: 15px;
	overflow: hidden;
	width: 400px;
	border: 1px solid rgba(0, 147, 221, 0.3);
}

.radio-container {
	display: block;
	cursor: pointer;
}

/* Стилизация инпута радиокнопки */
.radio-container input[type='radio'] {
	display: none;
}

/* Стилизация картинки и показ выбора */
.radio-container img {
	padding: 10px 35px;
	height: 50px;
	width: 133px;

	transition: background-color 0.5s ease-in-out;
}

/* Показ выбора при выбранной радиокнопке */

.radio-container input[type='radio']:checked+img {
	background-color: #fff500;
}

.choices.is-focused {
	border-radius: 20px;
	border: 1px solid #0093dd;
}

.is-open .choices__inner {
	border-radius: 20px;
}

.is-focused .choices__inner,
.is-open .choices__inner {
	border: none;
}

.choices {
	border-radius: 20px;
	border: 1px solid var(--light-Blue, #b3dff5);
	margin-bottom: 15px !important;

	&::after {
		content: url('../img/request/arrow-down.svg') !important;
		border-style: none !important;
		transition: 0.3s all !important;
		width: auto !important;
		height: auto !important;
		top: 40% !important;
		right: 30px !important;
	}

	/* Изменение при активном состоянии списка */
	&.is-open::after {
		content: url('../img/request/arrow-up.svg') !important;
		border-style: none !important;
		transition: 0.3s all !important;
		width: auto !important;
		height: auto !important;
		top: 45% !important;
		right: 30px !important;
	}
}

.choices__inner {
	background-color: #fff !important;
	height: 50px;
	padding: 0 !important;
	display: flex !important;
	align-items: center;
}

.choices__list--single {
	padding-left: 20px !important;
	margin: 0 !important;
	display: flex !important;
}

.choices[data-type*='select-one']::after {
	border-style: none;
}

.choices__list {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-right: 6px;
	padding-top: 10px;
	word-break: normal;
}

.choices__list:last-child {
	margin-bottom: 10px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
	border: none;
	margin-top: 10px !important;
}

.choices__list--dropdown.choices__item--selectable.is-highlighted,
.choices__list[aria-expanded].choices__item--selectable.is-highlighted {
	background-color: #0fa958;
	color: white;
	border-radius: 10px;
	font-size: 16px !important;
	font-weight: 400 !important;
}

.choices__list--single {
	font-size: 16px !important;
	font-weight: 400 !important;
}

.choices__list[aria-expanded] .choices__item {
	display: block;
	font-weight: 400;
	font-size: 16px !important;
	padding: 10px 0 10px 20px !important;
}

.choices__item--choice:hover {
	background: #fff500 !important;
	color: black !important;
	border-radius: 20px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
	border-radius: 20px !important;
	border: 1px solid#0093dd !important;
	margin-top: 5px;
}

.is-focuse .choices__inner,
.is-open .choices__inner {
	border-radius: 20px !important;
}

.is-highlighted {
	background-color: inherit !important;
	color: black !important;
}

/* Стили скроллбара */
.choices__list--dropdown .choices__list::-webkit-scrollbar {
	width: 15px;
	border-radius: 10px;
	background: var(--blue-30, rgba(0, 147, 221, 0.3));
}

/* Стили полосы скроллбара */
.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #0093dd;
}

.choices__list--dropdown .choices__list:hover::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #0093dd;
}

// request-end

.pagination {
	display: flex;
	justify-content: center;
}

.pagination__buttons {
	display: inline-block;
	height: 40px;
	padding: 0px 20px;
	margin-top: 15px;
}

.pagination-in {
	display: flex;
	align-items: center;
	content: '';
	border-radius: 20px;
	gap: 20px;
	height: 40px;
	border: 1px solid var(--blue-30, rgba(0, 147, 221, 0.3));
	padding: 0 20px;

	&__numbers {
		display: flex;
		gap: 20px;
	}
}

.button-animation {
	border: none;
	background: none;
	cursor: pointer;
	padding: 13px 21px;
	color: var(--black-30, rgba(0, 0, 0, 0.3));
}

.button-animation.active {
	border-radius: 10px;
	background: var(--Yellow, #fff500);

	color: black;
}

.button {
	&__prev {
		border: none;
		background: url('../img/mixer/back.svg') no-repeat center;
		width: 17px;
		height: 21px;
		cursor: pointer;
		fill: black;

		&:disabled {
			opacity: 0.3;
		}
	}

	&__next {
		border: none;
		background: url('../img/mixer/next.svg') no-repeat center;
		width: 17px;
		height: 21px;
		cursor: pointer;
		color: #007bff;
		fill: black;

		&:disabled {
			opacity: 0.3;
		}
	}
}

// pagination-end

.accordion-container {
	pointer-events: all;
	max-width: 650px;
}

.ac {
	position: relative;
	border-radius: 20px;
	border: 1px solid var(--blue-30, rgba(0, 147, 221, 0.3)) !important;
	background: var(--white-30, rgba(255, 255, 255, 0.3));
	/* Blur */
	backdrop-filter: blur(30px);
	
}


.ac-title {
	color: var(--Dark-blue, #29166f) !important;
	font-size: 20px;
	font-weight: 400;
	padding: 30px 60px 30px 30px;



	&::after {
		position: absolute !important;
		content: url('../img/request/arrow-down.svg') !important;
		border-style: none !important;
		width: auto !important;
		height: auto !important;
		right: 30px !important;
		transition: 0.6s ease-in-out;
		top: 35px;

	}
}

.ac-title.active::after {
	position: absolute !important;
	border-style: none !important;
	transition: 0.3s all !important;
	width: auto !important;
	height: auto !important;
	right: 30px !important;
	top: 35px;
	transform: rotate(180deg);
}


.ac-trigger {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0 !important;
	z-index: 100;
}

.ac-text {
	padding: 0 30px 30px 30px !important;

	color: var(--Dark-blue, #29166f) !important;
}

.ac.js-enabled.is-active {
	border: 1px solid var(--Blue, #0093dd) !important;
}

.ac .ac-trigger::after {
	content: '' !important;
}

// accordion-end

.feedback {
	&__title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		margin-top: 100px;
		margin-bottom: 50px;
	}

}

.swiper-slide-main {
	padding: 40px;
	border-radius: 20px;
	border: 1px solid var(--blue-30, rgba(0, 147, 221, 0.3));
	max-width: 300px !important;
	max-height: 212px !important;

}


.swiper-slide-title {
	color: #29166f;
	font-size: 20px;
	font-weight: 400;

	margin-bottom: 15px;
}

.swiper-slide-date {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	font-weight: 400;

	margin-bottom: 20px;
}

.swiper-slide-comment {
	font-size: 16px;
	font-weight: 400;
	max-width: 306px;
	height: 133px;
}

.swiper-navigation {
	display: flex;
	gap: 80px;
	justify-content: center;
	margin-top: 30px;
}

.swiper-button-next,
.swiper-button-prev {
	position: relative !important;
	margin-top: 0 !important;
	left: auto !important;
}

.swiper-button-next {
	content: url('../img/comments/arrow.svg');
	width: 20px !important;
	height: 20px !important;
}

.swiper-button-prev {
	content: url('../img/comments/arrow.svg');
	transform: rotate(180deg);
	width: 20px !important;
	height: 20px !important;
}



// swiper2-end

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.modal {
	display: flex;
	opacity: 0;
	/* Set initial opacity to 0 */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	/* Disable pointer events when opacity is 0 */
}

.modal-btn {
	margin-bottom: 0 !important;
}

.modal-send {
	padding: 15px 45px !important;
	opacity: 1 !important;
}

.modal-content {
	position: relative;
	background-color: #fff;
	border-radius: 20px;
}

.close {
	position: absolute;
	right: 10px;
	top: 10px;

	cursor: pointer;
}

.modal-open {
	animation: fadeIn 0.3s ease-in-out forwards;
	pointer-events: auto;
	display: flex;
}

.modal-closed {
	animation: fadeOut 0.3s ease-in-out forwards;
	/* Use forwards to keep the final state */
	pointer-events: none;
	/* Disable pointer events when opacity is 0 */
}

.burger {
	display: none;
}

.ellipsis {
	display: flex;
	align-items: end;
	padding: 13px 21px;
}

// spinner

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #007bff;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-left: 4px solid #fff500;
	border-bottom: 4px solid transparent;
	animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100px;
	width: 100%;
}

.quality__swiper{
	display: flex;
}

// увеличение картинки

/* Стили для модального окна */
.quality__img-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	z-index: 999;
}

.quality__img-modal img {
	max-width: 100% !important;
	max-height: 95%;
	transform: scale(0); /* Устанавливаем начальный масштаб 0 */
	transition: transform 0.3s ease;
}

/* Стили для увеличения изображения */
.quality__img-modal img.quality__img-modal-scale {
	transform: scale(1); /* Устанавливаем масштаб 1 с анимацией */
}

/* Стили для кнопки закрытия */
.quality__img-close {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}


