html,
body {
	height: 100%;
	font-family: 'Exo 2', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1248px;
	margin: 0 auto;
	padding: 0 15px;
}

img {
	max-width: none !important;
}


/* Изменение цвета полосы прокрутки */
::-webkit-scrollbar {
	width: 10px;
	height: 0;
	border-radius: 20px;
	background: rgba(0, 147, 221, 0.10);
	overflow-x: hidden;
}



/* Изменение цвета полосы прокрутки */
::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: var(--Default-Button, #FFF500);
}

/* Изменение цвета при наведении на полосу прокрутки */
::-webkit-scrollbar-thumb:hover {
	background: var(--Default-Button, #A6A000);
}

// scroll-end

.container-up {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 20px;
	/* Можете настроить отступ от нижнего края экрана по вашему усмотрению */
	margin-right: 20px;
	/* Можете настроить отступ от правого края экрана по вашему усмотрению */
}