@media screen and (max-width: 1420px) {
	.lookmore__img-images {
		display: none;
	}
	.lookmore__images {
		justify-content: center;
	}
}

@media screen and (max-width: 1250px) {
	.top__contacts-item:not(:last-child) {
		margin-bottom: 33px;
	}
	.top__contacts-list:not(:last-child) {
		margin-right: 0;
	}

	.top__contacts {
		position: absolute;
		flex-direction: column;
		right: 0;
		top: -1000px;
		gap: 33px;
		transition: top 0.3s ease-in-out;
		padding: 40px 32px 40px 20px;
		align-items: center;
		border-radius: 20px;
		border: 1px solid var(--Blue, #0093dd);
		background: #fff;
		align-items: flex-start;
	}

	.contacts-active {
		position: absolute;
		flex-direction: column;
		right: 0;
		top: 105px;
		gap: 33px;
		transition: top 0.3s ease-in-out;
		padding: 40px 32px 40px 20px;
		align-items: center;
		border-radius: 20px;
		border: 1px solid var(--Blue, #0093dd);
		background: #fff;
		align-items: flex-start;
	}

	@keyframes slideIn {
		from {
			top: -1000px;
		}
		to {
			top: 135px;
		}
	}

	@keyframes slideOut {
		from {
			top: 135px;
		}
		to {
			top: -1000px;
		}
	}

	.top__contacts.slide-in {
		animation: slideIn 0.3s ease-in-out forwards;
	}

	.top__contacts.slide-out {
		animation: slideOut 0.3s ease-in-out forwards;
	}

	.top__nav-list {
		gap: 80px;
	}
	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	/* Определяем анимацию появления */
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.burger {
		display: block;
		z-index: 11;
		animation: fadeIn 0.3s ease-in-out forwards;
	}
	/* Применяем анимацию к классу burger-active */
	.burger-active {
		content: url(../img/header/close.svg);
		animation: fadeIn 0.3s ease-in-out forwards;
	}

	/* Применяем анимацию к классу burger-fade */
	.burger-fade {
		animation: fadeOut 0.3s ease-in-out forwards;
	}
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); /* Цвет и прозрачность оверлея */
		display: none;
		z-index: 10;
	}

	/* top-end */

	.about__container {
		margin-top: 60px;
	}

	.about__right-img {
		content: url(../img/about/stamp1250.png);
		top: 55px;
		right: 0;
	}
	.about__left-btn {
		margin-top: 80px;
	}

	/* about-end */

	.quality__container{
		overflow-x: scroll;
	}

	// quality-end

	.astron__right-img{
		content: url(../img/astron/stamp1250.png);
	}
	.astron__left{
		gap: 62px !important;
	}
	// astron-end

	.mixer__container{
		justify-content:space-evenly;
	}

	.images__container{
		max-width: 584px;
	}

	// mixer-end

	.readystamps__img{
		content: url(../img/readyStamps/stamps1250.png);
		margin-left: 0;
	}

	// readystamps-end

	.faq{
		position: relative;
		justify-content: flex-end;
	}

	.faq__img{
		position: absolute;
		left: 0;
		top: 0;
	}
	.accordion-container{
		max-width: 500px;
	}
	.ac{
		opacity: 0.96;
	}
	// faq-end

	.contacts__right-map{
		width: 630px;
	height: 411px;
	}
	.contacts__left-schedule{
		padding: 20px 50px 20px 20px;
	}

	// contacts-end

	.swiper-slide{
		width: 235px !important;
	}

	// swiper-end

	.request__container{
		position: relative;
		justify-content: flex-end;
	}
	.request__left{
		position: absolute;
		left: 0;
		top: 0;
	}
	.send__message{
		opacity: 0.9;
	}

	// request-end

	.top__footer{
		justify-content: space-around;
	}

	.bottom{
		justify-content: space-evenly;
	}

	.bottom__privacy{
		margin-right: 0;
	}
	.bottom__text{
		margin: 0;
	}
	.bottom__img{
		margin: 0;
	}
}
