@import 'global';
@import 'vars';
@import 'reset';
@import 'fonts';
@import 'components';
@import 'media';

.container-header {
	max-width: 1248px;
	margin: 0 auto;
	padding: 0 15px;
	padding-bottom: 10px;
	z-index: 15;
	position: relative;
	background-color: #fff;
	border-radius: 0 0 20px 20px;
}
.active{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 82.5px;
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 10px;

	&__nav-list {
		display: flex;
		gap: 50px;
	}

	&__nav-modal{
		display: none;
	}

	&__nav-text {
		font-size: 16px;
		font-weight: 400;
		cursor: pointer;

		&:hover {
			color: #0093dd;
			transition: 0.5s all;
		}
	}

	&__contacts {
		display: flex;

		&-modal{
			display: none;
		}
	}

	&__contacts-list {
		&:not(:last-child) {
			margin-right: 55px;
		}
	}

	&__contacts-item {
		display: flex;
		align-items: center;
		gap: 13px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__contacts-link {
		color: black;
		font-variant-numeric: lining-nums tabular-nums;

		&:hover {
			color: #0093dd;
			transition: 0.5s all;
		}
	}
}

// top-end

.swiper__items{
	display: none;
}

.about {
	

	&__layout{
		display: block;
	}

	&__container {
		display: flex;
		flex-direction: column;
		margin-top: 40px;

		position: relative;
	}

	&__title {
		font-size: 36px;
		font-weight: 500;
		text-transform: uppercase;

		width: 700px;

		margin-bottom: 30px;

		color: #29166f;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 500;

		margin-bottom: 60px;
		width: 550px;

		text-transform: uppercase;
	}


	&__left-items{
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__left-item {
		display: flex !important;
		align-items: center;
		gap: 10px;
		font-size: 20px;
		font-weight: 400;


	}

	&__left-btn {
		@include button;

		padding: 20px 165px;
		margin-top: 60px;
	}

	&__right-img {
		position: absolute;
		right: 0;
		top: -20px;
	}
}

// about-end

.astron {
	&__container {
		display: flex;
		gap: 30px;
	}

	&__left-title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 100px;

		margin-bottom: 50px;
	}

	&__left-text {
		font-size: 20px;
		font-weight: 400;
		max-width: 594px;

	}
	.astron__left{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 50px;
	}

	&__left-btn {
		@include button;
		
		padding: 20px 165px;
	}
}

// astron-end

.request {
	&__container {
		display: flex;

		margin-top: 100px;
		margin-bottom: 50px;
		max-height: 800px;
	}

	&__left {
		display: flex;
		align-items: center;

		margin-right: 30px;
	}
}

.input__container {
	margin-bottom: 15px;
}

.input__container-modal {
	display: flex;
	flex-direction: column;
}

.inputs__container {
	display: flex;
	gap: 15px;
}

.send {
	&__message {
		width: 490px;
		padding: 0 45px;
		border-radius: 20px;
		border: 1px solid var(--light-Blue, #b3dff5);
		background-color: #fff;
		z-index: 2;

	}

	&__message-textarea-modal {
		height: 80px !important;
	}

	&__message-title {
		display: flex;
		justify-content: center;

		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		margin-top: 30px;
		margin-bottom: 15px;
	}

	&__message-title-modal {
		margin-top: 15px;
	}

	&__message-subtitle {
		display: flex;
		justify-content: center;
		text-align: center;

		font-size: 16px;
		font-weight: 400;

		margin-bottom: 25px;
	}

	&__message-input {
		padding: 15px 20px;
		margin-bottom: 5px;
		width: 100%;

		border-radius: 20px;
		border: 1px solid rgba(0, 147, 221, 0.3);

		&:focus-within {
			border: 1px solid var(--Blue, #0093dd);
			outline: none;
		}

		&:focus-visible {
			border: 1px solid var(--Blue, #0093dd);
			outline: none;
		}

		&:focus {
			border: 1px solid var(--Blue, #0093dd);
			outline: none;
		}
	}

	&__message-textarea {
		width: 100%;
		height: 90px;
		padding: 14.5px;
		margin-bottom: 15px;

		border-radius: 20px;
		border: 1px solid rgba(0, 147, 221, 0.3);

		&:focus-within {
			border: 1px solid var(--Blue, #0093dd);
			outline: none;
		}

		&:focus-visible {
			border: 1px solid var(--Blue, #0093dd);
			outline: none;
		}

		&:focus {
			border: 1px solid var(--Blue, #0093dd);
			outline: none;
		}
	}

	&__message-btn {
		@include button;
		padding: 20px 120px;
		width: 400px;
		height: 64px;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: 400;

		&:disabled {
			border-radius: 20px;
			cursor: not-allowed;

			color: rgba(0, 0, 0, 0.3);
			font-size: 20px;
			font-weight: 400;
		}
	}

	&__message-text {
		font-size: 16px;
		font-weight: 400;

		margin-bottom: 5px;

		&:nth-child(7) {
			margin-bottom: 15px;
		}
	}

	&__message-accept {
		display: flex;
		justify-content: center;
		text-align: center;
		opacity: 0.7;
		margin-bottom: 30px;
		color: var(--Gray, rgba(0, 0, 0, 0.30));
	}

	&__message-accept-modal {
		margin-bottom: 5px;
	}

	&__message-error {
		display: none;
		color: red;
		font-size: 14px;
	}

	&__message-input.error {
		border-color: red;
	}
}

.modal-btn {
	margin-bottom: 5px !important;
}

.btn-error {
	background-color: #fff !important;
	border: 1px solid #f00;
	font-size: 19px !important;
	color: red !important;
}

// request-end

.readystamps {
	&__container {
		margin-top: 100px;
	}

	&__title {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 400;

		margin-bottom: 50px;
	}

	&__img {
		margin-left: 100px;
	}
}

// readystamps-end

.lookmore {
	&__container {
		margin-top: 100px;
	}

	&__title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		margin-bottom: 50px;
	}

	&__instagram {
		display: flex;
		flex-direction: row;
		gap: 10px;

		margin-bottom: 40px;
	}

	&__instagram-link {
		color: black;
	}

	&__img {
		display: flex;
		width: 906px;
		gap: 30px;
		flex-wrap: wrap;
	}

	&__images {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	&__images-img {
		&:hover {
			transform: scale(1.05);
			transition: transform 0.5s ease-in-out;
		}
	}

	&__img-images {
		position: absolute;
		right: -100px;
		top: 70px;
		z-index: -1;
	}
}

// lookmore-end

.answers {
	&__container {
		margin-top: 100px;
	}

	&__title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
}

.faq {
	display: flex;
	flex-direction: row;
	gap: 5px;

	&__img {
		max-height: 576px;
	}
}

// answers-end

.contacts {
	&__title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

		margin-top: 100px;
		margin-bottom: 50px;
	}

	&__left-title {
		font-size: 20px;
		font-weight: 400;
	}

	&__container {
		display: flex;
		flex-direction: row;
	}

	&__left {
		margin-right: 30px;
	}

	&__left-phones {
		margin-bottom: 40px;
	}

	&__left-container {
		display: flex;
		flex-direction: row;
		gap: 10px;

		margin-top: 21px;
	}

	&__left-text {
		color: #000;

		&:hover {
			color: #0093dd;
			transition: 0.5s all;
		}
	}

	&__left-number {
		font-variant-numeric: lining-nums tabular-nums;
		color: #000;

		&:hover {
			color: #0093dd;
			transition: 0.5s all;
		}
	}

	&__left-mail {
		margin-bottom: 40px;
	}

	&__left-social {
		margin-bottom: 40px;
	}

	&__left-schedule {
		border-radius: 20px;
		border: 1px solid rgba(0, 147, 221, 0.3);

		padding: 20px 136px 20px 20px;
	}

	&__left-scheduletitle {
		color: #29166f;
		font-size: 20px;
		font-weight: 400;

		margin-bottom: 20px;
	}

	&__left-work {
		display: flex;
		justify-content: space-between;

		width: 221px;

		margin-bottom: 15px;
	}

	&__left-break {
		display: flex;
		justify-content: space-between;

		width: 221px;
	}

	&__right-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: center;
		gap: 10px;

		margin-bottom: 16px;
	}

	&__right-title {
		font-size: 20px;
		font-weight: 400;

		margin-bottom: 21px;
	}

	&__right-text {
		color: #000;

		&:hover {
			color: #0093dd;
			transition: 0.5s all;
		}
	}
}

.viber-contacts {
	margin-bottom: 18px;
}

// contacts-end

.top__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 40px;
}

.footer {
	background: rgba(0, 147, 221, 0.3);
	margin-top: 50px;
	
}

.bottom {
	display: flex;
	align-items: center;
	padding-bottom: 50px;

	&__privacy {
		margin-right: 163px;
	}

	&__social{
		display: flex;
	}

	&__img {
		margin-right: 30px;
	}

	&__text {
		margin-left: 36px;
		margin-right: 230px;
	}

	&__dev {
		color: #000;

		&:hover {
			color: #0093dd;
			transition: 0.5s all;
		}
	}
}

// footer-end
