@import "global";
@import "vars";
@import "reset";
@import "fonts";
@import "components";

.top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;

    &__nav-list {
        display: flex;
        gap: 50px;
    }

    &__nav-text {
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            color: #0093DD;
            transition: 0.5s all;
        }
    }

    &__contacts {
        display: flex;
    }

    &__contacts-list {
        &:not(:last-child) {
            margin-right: 55px;
        }
    }

    &__contacts-item {
        display: flex;
        align-items: center;
        gap: 13px;

        &:not(:last-child) {
            margin-bottom: 23px;
        }

    }

    &__contacts-link {
        color: black;
        font-variant-numeric: lining-nums tabular-nums;

        &:hover {
            color: #0093DD;
            transition: 0.5s all;
        }
    }

}

// top-end

.about {

    &__container {
        display: flex;
        margin-top: 90px;

        position: relative;
    }

    &__left-title {
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;

        margin-bottom: 30px;

        color: #29166F;
    }

    &__left-subtitle {
        font-size: 24px;
        font-weight: 500;

        margin-bottom: 63px;

        text-transform: uppercase;
    }

    &__left-item {
        display: flex;
        align-items: center;
        gap: 10px;

        &:not(:last-child) {
            padding-bottom: 36px;
        }
    }

    &__left-btn {
        @include button;

        padding: 20px 165px;
        margin-top: 73px;
    }


    &__right-img {
        position: absolute;
        left: 548px;
    }
}

// about-end


.astron {

    &__container {
        display: flex;
        margin-top: 100px;
        gap: 30px;
    }


    &__left-title {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;

        margin-bottom: 50px;
    }

    &__left-text {
        font-size: 20px;
        font-weight: 400;
        max-width: 594px;
        max-height: 408px;

        margin-bottom: 50px;
    }

    &__left-btn {
        @include button;

        padding: 20px 165px;
    }


    &__right-img {
        margin-top: 50px;
    }
}

// stron-end

.request {

    &__container {
        display: flex;

        margin-top: 100px;
        max-height: 800px;
    }

    &__left {
        display: flex;
        align-items: center;

        margin-right: 30px;
    }

    &__right {}
}

.send {

    &__message {
        width: 490px;
        padding: 30px 45px;

        border-radius: 20px;
        border: 1px solid #0093DD;
    }

    &__message-title {
        display: flex;
        justify-content: center;

        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;

        margin-top: 30px;
        margin-bottom: 15px;
    }

    &__message-subtitle {
        display: flex;
        justify-content: center;
        text-align: center;

        font-size: 20px;
        font-weight: 400;

        margin-bottom: 25px;
    }


    &__message-input {
        padding: 14.5px;
        margin-bottom: 15px;
        width: 100%;

        border-radius: 20px;
        border: 1px solid rgba(0, 147, 221, 0.30);
    }

    &__message-textarea {
        width: 100%;
        height: 90px;
        padding: 14.5px;
        margin-bottom: 20px;

        border-radius: 20px;
        border: 1px solid rgba(0, 147, 221, 0.30);
    }

    &__message-btn {
        @include button;
        padding: 20px 120px;
        width: 400px;
        height: 64px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 400;

        &:disabled {
            border-radius: 20px;
            background: rgba(0, 0, 0, 0.30);
            cursor: not-allowed;

            color: rgba(0, 0, 0, 0.30);
            font-size: 20px;
            font-weight: 400;
        }
    }



    &__message-text {
        font-size: 16px;
        font-weight: 400;

        margin-bottom: 5px;

        &:nth-child(7) {
            margin-bottom: 15px;
        }
    }

    &__message-accept {
        display: flex;
        justify-content: center;
        text-align: center;
        opacity: 0.7;
    }

    &__message-error {
        display: none;
        color: red;
        font-size: 14px;
    }

    &__message-input.error {
        border-color: red;
    }

}



.footer {
    background: rgba(0, 147, 221, 0.30);
}

.bottom {
    display: flex;

    &__privacy {
        margin-right: 170px;
    }

    &__link {}

    &__img {
        margin-right: 55px;
    }

    &__text {
        margin-left: 28px;
        margin-right: 114px;
    }
}

// footer-end