@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29166F;

    max-width: 490px;
    max-height: 64px;
    background-color: #FFF500;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background: #FFFF69;
    }

    &:active {
        background: #E2D800;
    }

    &:disabled {
        background: rgba(0, 0, 0, 0.10);
    }

}

